* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
body {
    background-image: url(assets/images/axiom.png);
}

#backToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 28px;
    background-color: #f2e125;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 15px;
    transition: 0.3s;
}

#backToTopBtn:hover {
    background-color: #d3c423;
}

.logo {
    height: 50px;
    width: auto;
}

.apply {
    background: #bd292c;
    color: #fff;
    transition: 0.3s ease-in-out;
}

.apply:hover {
    background: #000;
}

.apply:hover svg {
    transform: translateX(5px);
    transition: 0.3s ease-out;
}

.admission {
    background: #f2e125;
}

form {
    max-width: 50%;
    margin: auto;
    padding: 20px;
    background-color: whitesmoke;
    border: 1px dashed black;
    border-radius: 3px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

.button {
    border-radius: 5px;
    border: none;
    margin-bottom: 5px;
    background-color: #f2e125;
    color: black;
    width: 100%;
    transition: 0.3s;
}

.button:hover {
    background-color: #d3c423;
}

.button:active {
    background-color: #000;
    color: white;
}

form input, textarea, select {
    border: 1px solid grey;
    border-radius: 3px;
    padding: 5px;   
}

.verify {
    background-color: #f2e125;
    color: #000;
    transform: 0.3s ease-in-out;
}

.verify:hover {
    background-color: #d3c423;
}

.formBody {
    display: block;
}

#confirmationBox {
    display: none;
}

.otp {
    display: none;
}

.schoolsImages {
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
}

.schoolsImages:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
}